timer {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-weight: bold;
    font-size: 14rem;
}
