<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>This Device</h2>
  <p>Name: {{ bluetooth.info.name }}</p>
  <p>Address: {{ bluetooth.info.address }}</p>
  <p>Enabled: <span *ngIf="bluetooth.info.enabled">true</span><span *ngIf="!bluetooth.info.enabled">false</span></p>
  <p>Discovering: <span *ngIf="bluetooth.info.discovering">true</span><span *ngIf="!bluetooth.info.discovering">false</span></p>
  <p>Discoverable: <span *ngIf="bluetooth.info.discoverable">true</span><span *ngIf="!bluetooth.info.discoverable">false</span></p>
  <p>Is Connected: <span *ngIf="bluetooth.isConnected()">true</span><span *ngIf="!bluetooth.isConnected()">false</span></p>

  <button ion-button block (click)="searchForDevices()">Search For Devices</button>

  <br><br><br><br><br><br><br>

  <button ion-button block (click)="requestEnable()">Request Enable</button>

  <button ion-button block (click)="requestDiscoverable()">Request Discoverable</button>

  <button ion-button block (click)="sendMessage()">Send Message</button>

  <button ion-button block (click)="disconnect()">Disconnect</button>
</ion-content>
